<footer class="footer">
  <div class="container">
    
    <div id="FBButton" class="text-center">
      <a href="https://www.facebook.com/codecademy">
      Friend us on <span style="color: white">FaceBook!</span>
      </a>
    </div>
  </div>
</footer>