<form action="/job/create" method="POST">
    <table>
        <tr><td>Company Name:<td><input type="text" name="name"><br/>
        <tr><td>Position:<td><input type="text" name="position"><br/>
        <tr><td>Date Applied:<td><input type="text" name="dateApplied"><br/>
        <tr><td>Date Interview:<td><input type="text" name="dateInterview"><br/>
        <tr><td>Contact Name:<td><input type="text" name="contact"><br/>
        <tr><td>Phone:<td><input type="text" name="phone"><br/>
        <tr><td>Email:<td><input type="text" name="email"><br/>
        <tr><td>Linked In:<td><input type="text" name="linkedIn"><br/>
        <tr><td>Applied?:<td><input type="text" name="applied"><br/>
        <tr><td>Notes:<td><input type="text" name="notes"><br/>
        <tr><td><td><input type="submit">
    </table>
</form>
