<div class="row well">
    <h3>Add a job application:</h3>
    <form action="/job/create" method="POST">
        <table>
            <tr><td>Company Name:<td><input type="text" name="name"><tr/>
            <tr><td>Position:<td><input type="text" name="position"><tr/>
            <tr><td>Date Applied:<td><input type="text" name="dateApplied"><tr/>
            <tr><td>Date Interview:<td><input type="text" name="dateInterview"><tr/>
            <tr><td>Contact Name:<td><input type="text" name="contact"><tr/>
            <tr><td>Phone:<td><input type="text" name="phone"><tr/>
            <tr><td>Email:<td><input type="text" name="email"><tr/>
            <tr><td>Linked In:<td><input type="text" name="linkedIn"><tr/>
            <tr><td>Applied?:<td><input type="text" name="applied"><tr/>
            <tr><td>Notes:<td><input type="text" name="notes"><tr/>
            <tr><td><td><input type="submit">
        </table>
    </form>
</div>
