body {
  padding-top: 70px;
  background: url(/images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
 body {
   padding-top: 70px;
    background-image: url(/images/background1.jpg) no-repeat center center fixed;
   background-size: cover;
  background-repeat: no-repeat;
 }*/

#jobSeeker {
  text-align: center;
  font-family: Garamond, serif;
  font-size: 3em;
}

.form-horizontal {
  text-align: center;
}

#newUser{
  margin-top: 10px;
  text-align: center;
}

#FBButton {
  border-radius: 5px;
  border: 2px solid #6495ED;
  background-color: #BCD2EE;
  height: 45px;
  width: 120px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3D59AB;
  font-family: Verdana, sans-serif;
}